html {
    background-color: #1a1a1d;
    color: #950740;
}

/*? Main elements */
.fix-div {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

/*? Header */
.header-div {
    text-align: center;
}
.header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom: .4vh groove #c3073f;
}
.header {
    text-align: center;
    padding: .5vw 0;
}
.header-text {
    font-size: 4vw;
}


/*? Navigation */
/*? Menu */
.menu-div {
    background-color: #1a1a1d;
    overflow: hidden;
    width: 80%;
    padding-left: 30%;
    padding-right: 30%;
}

.menu-div a {
    float: left;
    color: #950740;
    text-align: center;
    text-decoration: none;

    padding: 1vw 2.2vw;
    font-size: 1vw;
}

.dropdown-menu {
    float: left;
    overflow: hidden;
}

.dropdown-menu .dropdown-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: #950740;
    background-color: inherit;
    text-decoration: none;
    font-size: 1vw;
    padding: 1vw 2.2vw;
    font-family: inherit;
}

.menu-div a:hover,
.dropdown-menu:hover .dropdown-button,
.dropdown-button:focus {
    background-color: #111111;
    color: #c3073f;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
    /* box-shadow: 1px 1vw 1vw 1px #c3073f; */
    z-index: 1;
}

.dropdown-menu-content a {
    color: #c3073f;
    min-width: 1vw;
    display: block;
    float: none;
    width: 100%;

    background-color: 111111;
    border: .2vh solid black;
    border-collapse: collapse;
    margin: -.2vh;

}
.dropdown-menu-content a:hover {
    background-color: #1a1a1d;
}

#maps:hover .dropdown-menu-content.maps {
    display: block;
}

#vex:hover .dropdown-menu-content.vex {
    display: block;
}

#socg:hover .dropdown-menu-content.socg {
    display: block;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
