html {
    background-color: #1a1a1d;
    color: #950740;
}

/*? Header */
.header-div {
    width: 100%;
    border-bottom: .2vh solid #950740;
}
.header-mark {
    /* float: left; */
    /* position: absolute; */
    display: flex;
    padding: 1vw 0 0 1vw;
    /* align-items: center; */
}

/*? Logo Div */
.logo-div {
    height: 4vw;
    user-select: none;
    pointer-events: none;
}
.logo-div img {
    width: 3vw;
}
.logo-text {
    padding-left: 1vw;
}
.logo-text span {
    font-weight: bold;
    display: block;
}
.logo-header {
    font-size: 1.5vw;
}
.logo-motto {
    font-size: 1vw;
}

/*? Menu */
.menu-div {
    right: 1vw;
    top: 2vw;
    float: right;
    position: fixed;
}
.menu-div a {
    color: #950740;
    font-weight: bolder;
    font-size: 1.1vw;
    text-decoration: none;
    padding: 0 1.2vw;
}

/*? Article */
.article-div {
    border: .1vh solid #950740;
    /* margin-top: -1vw; */
    height: 89.5%;
    margin: -.1vh 20%;
}