/*? Content Part */
.content-div {
    /* padding: 1vw; */
    /* width: 60%; */
    height: 100%;
    /* border-left: .2vh solid #ff2222;
    border-right: .2vh solid #ff2222; */
    margin-left: auto;
    margin-right: auto;
}

/*? Welcome div */
.welcome-div-shader {
    /* border-bottom: .2vh solid #ff2222; */
    background: url(../Images/adadadadadadadguguguJAKUBEK.png) no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1vw;
    height: 85%;
}
.welcome-div {
    /* background-color: #1a1a1d62; */
    background-color: rgb(0,0,0,0.5);
    height: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: welcome-div-anim 1s;
}

.wd-header {
    font-size: 4vw;
    display: block;
    font-weight: bold;
    flex: 1;
}
.wd-subheader {
    font-size: 1.2vw;
}

.read-more {
    /* display: block; */
    font-size: 1vw;
    width: 100%;
    text-align: center;
    margin-top: 5vw;
}
.read-more a {
    text-decoration: none;
    color: #ffffff;
    padding: .5vw;
    background-color: #c3073f;
    border: .4vh solid #6F2232;
}

@keyframes welcome-div-anim {
    from { opacity: 0; }
    to { opacity: 1;}
}